@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
body {
	background-image: url('img/fon-1.jpg');
	background-attachment: fixed;
	background-size: 30%;
	margin: 0px;
	z-index: 1;
}
nav {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: #45b1ff;
	z-index: 3;
}
.nav-ul {
	margin: 0px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #031c82;
}
.nav-block {
	display: inline-block;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	list-style: none;
	padding-right: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2%;
}
.nav-block:hover {
	font-size: 26px;
    background-color: #2243c7;
    transition: 1s;
}
.header-fon {
	width: 100%;
}
.header-title {
	color: #ffffff;
	font-size: 60px;
	margin-left: 32%;
	position: absolute;
	margin-top: -250px;
	z-index: 2;
}
.header-title-page-3 {
    margin-left: 22%;
}
.header-title-page-5 {
	margin-left: 37%;
}
.content {
	background-color: #ffffff;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.content-title {
	font-size: 40px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
	margin-left: 5%;
	padding-left: 10px;
	border-left: 8px solid #ffff40;
}
.content-page-3 {
	padding-bottom: 20px;
}
.content-info {
	margin-left: 75%;
	position: absolute;
}
.picture {
	margin-left: 15%;
	width: 30%;
    border: 4px dashed #ffff40;
}
.picture-1 {
	margin-left: 10%;
	width: 30%;
    border: 4px dashed #ff6200;
}
.picture-2 {
	float: right;
	width: 30%;
    border: 4px dashed #ffff40;
    margin-right: 5%;
}
.picture-3 {
	width: 20%;
	margin-left: 20%
}
.picture-4 {
	width: 15%;
	margin-left: 15%;
}
.picture-5 {
	margin-left: 30%;
	width: 40%;
}
.content-title-orange {
	border-color: #ff6200;
}
ul {
	list-style-type: square;
}
footer {
	background-color: #003596;
	padding: 10px;
	margin-top: 20px;
}
.footer-content {
	margin-left: 25%;
	color: #45b1ff;
	font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer-content:hover {
    background-color: #011f57;
    transition: 0.5s;
}
.color-A {
	color: #f7ff00;
}
.color-B {
	color: #ff8800;
}
.color-C {
	color: #ff0000;
}
.polling-statistics-container {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 10% 0 10%;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
}
.polling-statistics {
	color: #00346B;
	padding-left: 2%;
	font-size: 28px;
	text-align: center;
}
.polling-indent {
	margin-top: 35px;
}
.radio-align {
	color: #012854;
}
.question {
    color: #0070f0;
	padding-left: 2%;
	font-size: 28px;
}
.respondents {
       font-size: 28px;
} 
.text-style {
	padding: 1% 5% 1% 5%;
	border-radius: 20px;
	border: 1px solid #0070f0;
}
.text-style:focus {
	outline: none;
	box-shadow: 0px 0px 5px #0077ff;
}
.submit-style {
	border-radius: 20px;
	padding: 1% 2% 1% 2%;
	border: 3px solid #012854; 
    margin-left: 38%;
    background-color: #0070f0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.submit-style:focus {
	outline: none;
}
.submit-style:hover {
    background-color: #003c80;
    transition: 1s;
    cursor: pointer;
}
.alarm {
	background-color: #d11515;
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0px;
	color: #ffffff;
	margin: 0;
	font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.voted {
	margin-left: 5%;
	padding: 5px;
	border: 3px solid #4d94ff;
	color: #4d94ff;
}
@media only screen and (max-width: 980px){
	.header-title {
		font-size: 80px;
	}
	.content {
		margin-left: 0;
		margin-right: 0;
		font-size: 20px;
	}
	.footer-content {
		margin-left: 5%;
	}
	.picture {
		width: 90%;
		margin-left: 5%;
	}
	.picture-1 {
		width: 90%;
		margin-left: 5%;
	}
	.nav-block {
		font-size: 50px;
	}
	.nav-block:hover {
		font-size: 55px;
	}
	.polling-statistics-container {
		font-size: 30px;
		margin-left: 0;
		margin-right: 0;
	}
	.content-title {
		font-size: 15px;
	}
	.polling-statistics {
		font-size: 15px;
	}
	.question {
		font-size: 30px;
	}
	.radio-align {
		font-size: 20px;
	}
	.text-style {
	    width: 90%;
	    height: 150px;
	    font-size: 30px;
	}
	.radio-align input {
	    transform:scale(3);
	    margin-right: 3%;
	}
	.submit-style {
	 width: 80%;   
	 height: 100px;
	 font-size: 50px;
	 margin: 20px 10% 20px 10%;
	}
	.content-title {
	    font-size: 90px;
	}
	.header-fon {
	    margin-top: 180px;
	}
	.header-title  {
	    margin-left: 15%;
	}
	.header-title-page-5 {
	    margin-left: 20%;
	}
    .respondents {
        font-size: 60px;
        color: blue;
     } 
     .footer-5 {
         display: none;
     } 
     .polling-statistics-result {
         font-size: 40px;   
     }
     .picture-5 {
         width: 80%;
         margin-left: 10%;
     }